<f:layout name="Default" />

<f:section name="iconButtons">
	<!--<f :be.buttons.icon uri="{f:uri.action(action:'index', arguments: {post : post, blog: post.blog})}" icon="closedok" title="Cancel" />-->
	<!--<f :be.buttons.icon uri="javascript: document.post.submit();" icon="saveandclosedok" title="Save" />-->
</f:section>

<f:section name="content">
	<f:form method="post" action="confirm" arguments="{source: source, destination: destination}">
		<h3>{f:translate(key: 'header_enter')}</h3>
        <p style="width: 600px; margin: 0 0 20px 0;">{f:translate(key: 'copy_info')}</p>
		<label for="source">{f:translate(key: 'source')}</label><br />
        <f:form.textfield property="source" name="source" value="{source}" /><br /><br />
		<label for="destination">{f:translate(key: 'destination')}</label><br />
        <f:form.textfield property="destination" name="destination" value="{destination}" /><br /><br />
        <f:form.submit value="{f:translate(key: 'submit')}" />

	</f:form>
</f:section>
